<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo de Usuario:</strong>
  <%= @user.tipo%>
</p>

<p>
  <strong>Nome:</strong>
  <%= @user.nome %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Back', users_index_url%>
