<h1>Gerenciamento ES</h1>

<!-- Caso já esteja logado só irá mostrar sair -->
<% if user_signed_in? %>
  <% if current_user.tipo == "Administrador" %>
    <h2>Bem vindo Administrador</h2>
  <% else %>
    <h2>Bem vindo Funcionario</h2>
  <%end %>
  <ul>
    <li><%= current_user.nome %></li>
    <li><%= link_to "Sair", destroy_user_session_path, method: :delete %></li>
    <li><%= link_to "Moradores", moradors_path%></li>
    <li><%= link_to "Encomendas", encomendas_path %></li>
    <% if current_user.tipo == "Administrador" %>
      <li><%= link_to "Usuários", users_index_path %></li>
    <% end %>
  </ul>
<% else %>
  <ul>
    <li><%= link_to "Entrar", new_user_session_path%></li>
    <li><%= link_to "Cadastro novo usuário", new_user_registration_path %></li>
  </ul>
<% end %>