<%= form_with(model: morador) do |form| %>
  <% if morador.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(morador.errors.count, "error") %> prohibited this morador from being saved:</h2>

      <ul>
        <% morador.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :cpf %>
    <%= form.text_field :cpf %>
  </div>

  <div class="field">
    <%= form.label :bloco %>
    <%= form.text_field :bloco %>
  </div>

  <div class="field">
    <%= form.label :casanum %>
    <%= form.text_field :casanum %>
  </div>

  <div class="field">
    <%= form.label :telefone %>
    <%= form.text_field :telefone %>
  </div>

  <%= form.fields_for :endereco do |endereco_form| %>

    <div class="field">
      <%= endereco_form.label :rua %>
      <%= endereco_form.text_field :rua %>
    </div>

    <div class="field">
      <%= endereco_form.label :complemento %>
      <%= endereco_form.text_field :complemento %>
    </div>

    <div class="field">
      <%= endereco_form.label :cep %>
      <%= endereco_form.text_field :cep %>
    </div>

  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
