<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @morador.nome %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @morador.cpf %>
</p>

<p>
  <strong>Bloco:</strong>
  <%= @morador.bloco %>
</p>

<p>
  <strong>Casanum:</strong>
  <%= @morador.casanum %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @morador.telefone %>
</p>

<p>
  <strong>Rua:</strong>
  <%= @morador.endereco.rua %>
</p>

<p>
  <strong>Complemento:</strong>
  <%= @morador.endereco.complemento %>
</p>

<p>
  <strong>CEP:</strong>
  <%= @morador.endereco.cep %>
</p>

<%= link_to 'Edit', edit_morador_path(@morador) %> |
<%= link_to 'Back', moradors_path %>
