<p id="notice"><%= params[:notice] %></p>

<h1>Gerenciamento ES</h1>
<!-- Caso j치 esteja logado s칩 ir치 mostrar sair -->
<% if funcionario_signed_in? %>
  <h2>Perfil Funcionario</h2>
  <h3>Bem vindo <%= current_funcionario.nome %></h3>
  <ul>
    <li><%= link_to "Sair", destroy_funcionario_session_path, method: :delete %></li>
    <li><%= link_to "Moradores", moradors_path%></li>
    <li><%= link_to "Encomendas", encomendas_path %></li>
  </ul>
<% elsif admin_signed_in?%>
  <h2>Perfil Administrador</h2>
  <h3>Bem vindo <%= current_admin.nome %></h3>
  <ul>
    <li><%= link_to "Sair", destroy_admin_session_path, method: :delete %></li>
    <li><%= link_to "Moradores", moradors_path%></li>
    <li><%= link_to "Encomendas", encomendas_path %></li>
    <li><%= link_to "Funcion치rios", funcionarios_index_path %></li>
  </ul>
<%else %>
  <ul>
    <li><%= link_to "Entrar como Funcionario", new_funcionario_session_path%></li>
    <li><%= link_to "Entrar como Administrador", new_admin_session_path %></li>
  </ul>
<% end %>
