<p id="notice"><%= notice %></p>

<p>
  <strong>Remetente:</strong>
  <%= @encomenda.remetente %>
</p>

<p>
  <strong>Data:</strong>
  <%= @encomenda.data %>
</p>

<p>
  <strong>Funcionario:</strong>
  <%= User.find(@encomenda.user_id).nome %>
</p>

<p>
  <strong>Morador:</strong>
  <%= Morador.find(@encomenda.morador_id).nome %>
</p>

<p>
  <% @produtos.each do |produto| %>
    <%= link_to produto.nome, produto_path(produto, :encomenda_id => @encomenda.id) %>
  <% end %>
</p>

<%= link_to 'Adicionar produto na encomenda', new_produto_path(:encomenda_id => @encomenda.id) %> |
<%= link_to 'voltar', encomendas_path %>