<p id="notice"><%= notice %></p>

<p>
  <strong>Remetente:</strong>
  <%= @encomenda.remetente %>
</p>

<p>
  <strong>Data:</strong>
  <%= @encomenda.data %>
</p>

<p>
  <strong>Funcionario:</strong>
  <%= Funcionario.find(@encomenda.funcionario_id).nome %>
</p>

<p>
  <strong>Morador:</strong>
  <%= Morador.find(@encomenda.morador_id).nome %>
</p>

<%= link_to 'Adicionar produto na encomenda', new_produto_path(:encomenda_id => @encomenda.id) %> |
<%= link_to 'voltar', encomendas_path %>
